.app {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  
  .app-heading {
    width: fit-content;
    position: absolute;
    /* margin-left: 100px; */
    left: 110px;
    font-weight: 700;
    top: 50px;
    margin-top: 35px;
    font-size: 30px;
    color: #f7d832;
  }
  .app-form {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    /* margin-left: 120px; */
    top: 161px;
    left: 110px;
  }
  
  .app-yellow-bubble-wrapper {
    position: absolute;
    right: 0px;
  }
  .app-yellow-bubble {
    width: 600px;
  }
  
  .app-form-inputbase {
    background-color: #f0f0f0;
    height: 35px;
    width: 300px;
    border-radius: 5px;
  }
  ::placeholder {
    font-weight: 500;
    font-size: 14px;
  }
  .app-bubble2-wrapper {
    position: absolute;
    bottom: 0px;
    left: 341px;
  }
  .app-bubble2 {
    width: 300px;
  }
  
  .app-terms {
    position: absolute;
    font-size: 14px;
    z-index: 10;
    color: #333333;
    bottom: 50px;
    left: 110px;
  }
  
  .app-policy {
    left: 310px;
    position: absolute;
    font-size: 14px;
    z-index: 10;
    color: #333333;
    bottom: 50px;
  }
  
  @media (max-width: 1120px) {
    .app-yellow-bubble-wrapper {
      display: none;
    }
    .app-form {
      top: 50;
      left: 0;
      position: relative;
      align-items: center;
      justify-content: center;
    }
  
    .app-terms {
      position: relative;
      left: 0;
      bottom: 0;
    }
    .app-policy {
      position: relative;
      left: 0;
      bottom: 0;
    }
    .app-footer-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 270px;
    }
    .app-footer {
      display: flex;
      z-index: 20;
      min-width: 300px;
      width: 30%;
      justify-content: space-between;
    }
    .app-bubble2-wrapper {
      position: relative;
      top: -70px;
      float: right;
      overflow: hidden;
      left: 0;
    }
    .app-bubble2 {
      margin-right: -120px;
      overflow: hidden;
      bottom: 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    .container header .header-nav-area #nav_container  {
      display:flex;
    }
  }